<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class ="table table-hover">
                <thead>
                  <tr> <th>Id</th> <th>Nom</th> <th>Prix</th> <th>Date création</th> <th>Action</th> </tr> 
                </thead>
                <tbody *ngFor="let produit of produits">
                    <tr>
                        <td>{{produit.idProduit}}</td>
                        <td>{{produit.nomProduit}}</td>
                        <td>{{produit.prixProduit}}</td>
                        <td>{{produit.dateCreation | date :'dd/MM/yyyy' }}</td>
                        <td><a class="btn btn-success" [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td>
                        <td><a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a></td></tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
